@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

@import url('paisaje.css');


body{
   
	background-color:#02010a;
	margin: 40px;
}



/*Esta sección pertenece a la animación de la página*/

@keyframes slidein{
from{
  margin-top: 100%;
   width:-60%;


}

to{

  margin-top: 0%;
  width:100%;
}

}

.slidein{

  -moz-animation-duration:2s;
  -webkit-animation-duration:4s;
  animation-duration:4s;
  -moz-animation-name:slidein; 
  -webkit-animation-name:slidein;
  animation-name:slidein;
  
  -webkit-animation-iteration-count:4s;
  animation-delay:2s; 
}

@media screen and (min-device-width:900px){
.contenedor{
	width: 100%;
    font-family: 'Dancing Script', verdana;

}




@media screen and  (max-device-width: 900px){

.main{

	width: 100%;

}

header p{

	justify-content: center;

}


article{
	flex-direction: column;
}

a{

	text-align: center;
}


.nav{

	text-align: center;
}

footer{
     flex-wrap: wrap;
	width: 100%;
}
}
}

@media(max-width: 420px) and (min-width: 900px){

.main{

	width: 100%;

}

header p{
font-family: 'Dancing Script', cursive;

	text-align: center;
}


article{
	flex-direction: column;
}

a{

	text-align: center;
}


.nav{

	text-align: center;
}

footer{
     flex-wrap: wrap;
	width: 100%;
}



}



/* Esta es la parte del  encabezado*/



header{

font-size: 1.5rem;
background-color: #5b7989;
width: 100%;
border-radius:10px;
color:white; 
height:150px; 
animation-duration: 1s;
 animation-name: slidein;
  font-family: 'Dancing Script';
padding: 0.5px;
justify-content: center;
}

/* Esta  parte  pertenece a la sección de los enlaces*/


a {

	float: right;
	padding:5px;
	color:white;

	
}

a:link, a:hover{

	text-decoration: none;
}

 #Nav: a:visited {

text-decoration:underline;

}
ul{

 list-style-type:none;	
}






/* Esta parte ubica la imágenes principal del index*/
section{
	max-width: 100%;
	background-color:#82c3a6;
	margin-top:-20px; 
	height: 350px;
	 flex-wrap: wrap;
	 display: flex;
     padding: 20px;
    
	margin-top: 0px; 
	
	justify-content: center;
    
	
}



article{

	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: -7px;
  	background-color:  #d5c75f ;
	width: 100%;
    
}

article a{
 font-size:20px;
 float:left;
 margin-left: 200px;	
 

 
}



.imagen01{

    margin-top: 0px;
	
  box-shadow:  2px 2px;

}
.imagen02{
margin-top: 10px;
margin-bottom: 0px;
box-shadow: 2px 2px;


}

.imagen02:hover{
animation-name: mi animacion;
transition-duration:3s;
transform:rotate(10deg);
box-shadow:2px 2px #82c3a6;


}


.imagen03{
flex-wrap: wrap;
margin-top: 20px;
margin-bottom:0px;
box-shadow:2px 2px;
margin:15px; 
}

.imagen03:hover{
transform: translate(-5Px);
transform: translateX(20PX);
transition-duration: 1s;
animation-name: mi animacion;
box-shadow:2px 2px #82c3a6;

}

/*Esta Sección  pertenece a las pagina retrato y paisaje*/

aside{
   width: 100%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: -7px;
  	background-color:  #d5c75f ;
	
    
}

.imagen001{
	margin-top: 15px;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
 box-shadow: 2px 2px;
-webkit-filter:blur(10px);
 filter: blur(10px);

 justify-content: center;
 padding-left: 10px;
}

.imagen002{
	margin-top: 15px;
	max-width: 100%;
	flex-wrap: wrap;
	display: flex;
 box-shadow: 2px 2px;  
 -webkit-filter:grayscale(100%);
 filter: grayscale(100%);
 box-sizing: border-box;
   
justify-content: center;
padding-left:  10px;
}

.imagen003{
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
max-width: 100%;	
box-shadow: 2px 2px; 
-webkit-filter:sepia(90%);
filter: sepia(90%); 
justify-content: center;
box-sizing: border-box;
padding-left: 5px;
}

.imagen004{
	margin-top: 15px;
	max-width: 100%;
	box-shadow: 1px 1px #02010a;
  -webkit-filter:grayscale(100%);
 filter: grayscale(100%);
justify-content: center;
display: flex;
flex-wrap: wrap;
padding-left:1px;
}


.imagen005{
	margin-top: 15px;
	max-width: 100%;
box-shadow: 1px 1px;
	display: flex;
flex-wrap: wrap;
justify-content: center;
box-sizing: border-box;
padding-left:10px;
}

.imagen006{
margin-top: 15px;
box-shadow: 1px 1px;
  -webkit-filter:grayscale(100%);
 filter: grayscale(100%);
 display: flex;
flex-wrap: wrap;
justify-content: center;
box-sizing: border-box;
padding-left: 10px;
padding-top: 5px;
}




/* Esta seccion pertenece al pie de pagina  o footer*/

footer p{
	margin-top:10px; 
	
	padding-left: -50px;
	padding-right:10px;
	font-size: 1.5rem;
	font-family: 'Dancing Script', cursive;
}



footer{
	
	
	padding: 10px;
    display:flex;
	background-color:#C6d5c5;
	border-radius:10px;
	margin-top: 0px; 
	box-sizing: border-box;
	
    flex-wrap: wrap;
    justify-content: center;
    
	
}